<div class="wrapper">
  <div class="expand">
    <mat-accordion>
      <mat-expansion-panel [expanded]='panelOpenState'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Marks List
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="wrapper-table">
          <div class="content">
            <div class="filter-wrapper">
              <mat-form-field class="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              <div class="div-refresh">
                <button type="button" mat-mini-fab color="primary" matTooltip="New Mark" (click)="showCreateForm()"
                  class="button-toolbar">
                  <mat-icon>add</mat-icon>
                </button>
                <button type="button" mat-mini-fab color="primary" matTooltip="Refresh" (click)="getAllMarks()" class="button-toolbar">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div class="div-chiplist-jobs">
                <mat-chip-list>
                  <mat-chip color="accent" selected>{{listMarks.length}} Marks</mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <table mat-table [dataSource]="dataSource" class="div-data-table" #table matSort>
              <ng-container matColumnDef="studentName">
                <th mat-header-cell *matHeaderCellDef> Student Name </th>
                <td mat-cell *matCellDef="let element"> {{element.id.student.name}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.id.student.email}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.id.student.phone}} </td>
              </ng-container>
              <ng-container matColumnDef="courseName">
                <th mat-header-cell *matHeaderCellDef> Course Name </th>
                <td mat-cell *matCellDef="let element"> {{element.id.course.name}} </td>
              </ng-container>
              <ng-container matColumnDef="term">
                <th mat-header-cell *matHeaderCellDef> Term </th>
                <td mat-cell *matCellDef="let element"> {{element.id.term.name}} </td>
              </ng-container>
              <ng-container matColumnDef="mark">
                <th mat-header-cell *matHeaderCellDef> Mark </th>
                <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
              </ng-container>
              <ng-container matColumnDef="option">
                <th mat-header-cell *matHeaderCellDef class="operation"> Operations </th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" mat-button color="accent" (click)="showEditForm(element)" class="operator">
                    <mat-icon>edit</mat-icon> Edit
                  </button>
                  <button type="button" mat-button color="accent" (click)="openConfirmDialog(element)" class="operator">
                    <mat-icon>delete</mat-icon> Delete
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" (click)="selection.toggle(row)">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[30, 50, 100]" showFirstLastButtons class="div-data-table" *ngIf="true"></mat-paginator>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-card class="div-create" *ngIf="isCreating || isEdit">
    <mat-card-header>
      <mat-card-title *ngIf="isCreating">Register Form</mat-card-title>
      <mat-card-title *ngIf="isEdit">Edit Form</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-content">
      <form [formGroup]="createForm" (keydown.enter)="$event.preventDefault()">
        <mat-form-field class="primary-field">
          <mat-select formControlName="student" placeholder="student" [compareWith]="compareFn" [value]="student">
            <mat-option *ngFor="let student of listStudents" [value]="student">{{student.name}} - {{ student.email }}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <mat-select formControlName="course" placeholder="course" [compareWith]="compareFn" [value]="course">
            <mat-option *ngFor="let course of listCourses" [value]="course">{{course.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <mat-select formControlName="term" placeholder="term" [compareWith]="compareFn" [value]="term">
            <mat-option *ngFor="let term of listTerms" [value]="term">{{term.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <input matInput formControlName="mark" placeholder="mark" [value]="createForm.controls.mark.value">
        </mat-form-field> <br>
      </form>
      <div class="channel-action">
        <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
        <button type="button" mat-button color="accent" (click)="clear()">Clear</button>
        <button type="button" mat-button color="accent" *ngIf="isCreating" [disabled]="!createForm.valid" (click)="addMark()">Add</button>
        <button type="button" mat-button color="accent" *ngIf="isEdit" [disabled]="!createForm.valid" (click)="editMark()">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>