<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- <a class="navbar-brand logo_h " href="#"><img src="../../assets/banner.png" alt="" /></a> -->
                <img class="img-banner" src="../../assets/banner.png" alt="">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <p class="text-uppercase">
                            iTown
                        </p>
                        <h2 class="text-uppercase mt-4 mb-5">
                            The Best English Entertainment
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Awesome Course</h2>
                    <p>
                        More than 100 course - Interact directly with foreign teacher
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon"><span class="flaticon-student"></span></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">Scholarship Facility</h4>
                        <p>
                            The best modern facility
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon"><span class="flaticon-book"></span></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">Professional Course</h4>
                        <p>
                            Student will be learn with foreign teacher
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon"><span class="flaticon-earth"></span></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">Global Certification</h4>
                        <p>
                            Quality certification
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="popular_courses">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Your Success</h2>
                    <h2>Our Mission</h2>
                    <p>
                        Create the future - Make the trend
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel active_course">
                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="../../assets/img/courses/c1.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="price">$25</span>
                            <span class="tag mb-4 d-inline-block">design</span>
                            <h4 class="mb-3">
                                <a href="course-details.html">Custom Product Design</a>
                            </h4>
                            <div
                                class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <div class="authr_meta">
                                    <img src="../../assets/img/courses/author1.png" alt="" />
                                    <span class="d-inline-block ml-2">Cameron</span>
                                </div>
                                <div class="mt-lg-0 mt-3">
                                    <span class="meta_info mr-4">
                                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                    </span>
                                    <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="../../assets/img/courses/c2.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="price">$25</span>
                            <span class="tag mb-4 d-inline-block">design</span>
                            <h4 class="mb-3">
                                <a href="course-details.html">Social Media Network</a>
                            </h4>
                            <p>
                                One make creepeth man bearing their one firmament won't fowl
                                meat over sea
                            </p>
                            <div
                                class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <div class="authr_meta">
                                    <img src="../../assets/img/courses/author2.png" alt="" />
                                    <span class="d-inline-block ml-2">Cameron</span>
                                </div>
                                <div class="mt-lg-0 mt-3">
                                    <span class="meta_info mr-4">
                                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                    </span>
                                    <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="../../assets/img/courses/c3.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="price">$25</span>
                            <span class="tag mb-4 d-inline-block">design</span>
                            <h4 class="mb-3">
                                <a href="course-details.html">Computer Engineering</a>
                            </h4>
                            <p>
                                One make creepeth man bearing their one firmament won't fowl
                                meat over sea
                            </p>
                            <div
                                class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <div class="authr_meta">
                                    <img src="../../assets/img/courses/author3.png" alt="" />
                                    <span class="d-inline-block ml-2">Cameron</span>
                                </div>
                                <div class="mt-lg-0 mt-3">
                                    <span class="meta_info mr-4">
                                        <a href="#"> <i class="ti-user mr-2"></i>25 </a>
                                    </span>
                                    <span class="meta_info"><a href="#"> <i class="ti-heart mr-2"></i>35 </a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Popular Courses Area =================-->

<!--================ Start Registration Area =================-->
<div class="section_gap registration_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1 class="mb-3">Register Now</h1>
                        <p>
                            There is a moment in the life of any aspiring astronomer that
                            it is time to buy that first telescope. It’s exciting to think
                            about setting up your own viewing station.
                        </p>
                    </div>
                    <div class="col clockinner1 clockinner">
                        <h1 class="days">150</h1>
                        <span class="smalltext">Days</span>
                    </div>
                    <div class="col clockinner clockinner1">
                        <h1 class="hours">23</h1>
                        <span class="smalltext">Hours</span>
                    </div>
                    <div class="col clockinner clockinner1">
                        <h1 class="minutes">47</h1>
                        <span class="smalltext">Mins</span>
                    </div>
                    <div class="col clockinner clockinner1">
                        <h1 class="seconds">59</h1>
                        <span class="smalltext">Secs</span>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</div>
<section class="trainer_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Our Expert Trainers</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="../../assets/img/trainer/t1.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>Mated Nithan</h4>
                    <p class="designation">Master Toeic</p>
                    <div class="mb-4">
                        <p>
                            Communicate is the key to make success
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="../../assets/img/trainer/t2.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>David Cameron</h4>
                    <p class="designation">Master Toefl</p>
                    <div class="mb-4">
                        <p>
                            Make your onboard dream come true
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="../../assets/img/trainer/t3.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>Jain Redmel</h4>
                    <p class="designation">Master Ielts</p>
                    <div class="mb-4">
                        <p>
                            Flying on your knowledge out of verbal
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="../../assets/img/trainer/t4.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>Nathan Macken</h4>
                    <p class="designation">CEO</p>
                    <div class="mb-4">
                        <p>
                            We try to make the best service learning for everyone.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Top Course</h4>
                <ul>
                    <li><a href="#">Listening Skill</a></li>
                    <li><a href="#">Speaking Skill</a></li>
                    <li><a href="#">Writing Skill</a></li>
                    <li><a href="#">Basic Communication</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Features</h4>
                <ul>
                    <li><a href="#">Professional Teacher</a></li>
                    <li><a href="#">Best Environment</a></li>
                    <li><a href="#">Modern Facility</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | Beti
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>