<div class="wrapper">
  <div class="expand">
    <mat-accordion>
      <mat-expansion-panel [expanded]='panelOpenState'>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Users List
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="wrapper-table">
          <div class="content">
            <div class="filter-wrapper">
              <mat-form-field class="filter">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              <div class="div-refresh">
                <button type="button" mat-mini-fab color="primary" matTooltip="New User" (click)="showCreateForm()"
                  class="button-toolbar">
                  <mat-icon>add</mat-icon>
                </button>
                <button type="button" mat-mini-fab color="primary" matTooltip="Refresh" (click)="getAllUsers()"
                  class="button-toolbar">
                  <mat-icon>refresh</mat-icon>
                </button>
              </div>
              <div class="div-chiplist-jobs">
                <mat-chip-list>
                  <mat-chip color="accent" selected>{{listUsers.length}} Users</mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <table mat-table [dataSource]="dataSource" class="div-data-table" #table matSort>
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="name">
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" class="name">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef> User Name </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.roles[0].name}} </td>
              </ng-container>
              <ng-container matColumnDef="option">
                <th mat-header-cell *matHeaderCellDef class="operation"> Operations </th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" mat-button color="accent" (click)="showEditForm(element)" class="operator">
                    <mat-icon>edit</mat-icon> Edit
                  </button>
                  <button type="button" mat-button color="accent" (click)="openConfirmDialog(element)" class="operator">
                    <mat-icon>delete</mat-icon> Delete
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" (click)="selection.toggle(row)">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[30, 50, 100]" showFirstLastButtons class="div-data-table" *ngIf="true"></mat-paginator>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-card class="div-create" *ngIf="isCreating || isEdit">
    <mat-card-header>
      <mat-card-title *ngIf="isCreating">Create Form</mat-card-title>
      <mat-card-title *ngIf="isEdit">Edit Form</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-content">
      <form [formGroup]="createForm" (keydown.enter)="$event.preventDefault()">
        <mat-form-field class="primary-field">
          <input matInput formControlName="name" placeholder="name" [value]="createForm.controls.name.value">
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <input matInput formControlName="username" placeholder="user name" [value]="createForm.controls.username.value">
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <mat-select formControlName="role" placeholder="role" [value]="this.createForm.controls.role.value">
            <mat-option *ngFor="let recommendedValue of listRoles" [value]="recommendedValue">{{recommendedValue}}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field" *ngIf="isCreating">
          <input matInput formControlName="password" placeholder="password" [value]="createForm.controls.password.value">
        </mat-form-field> <br>
        <mat-slide-toggle [checked]="resetChecked" (change)="resetChecked = !resetChecked" *ngIf="isEdit">
          Reset Password?
        </mat-slide-toggle> <br>
        <mat-form-field class="primary-field" *ngIf="isEdit && resetChecked">
          <input matInput formControlName="password" placeholder="password" [value]="createForm.controls.password.value">
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <input matInput type="email" formControlName="email" placeholder="email" [value]="createForm.controls.email.value">
        </mat-form-field> <br>
      </form>
      <div class="channel-action">
        <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
        <button type="button" mat-button color="accent" (click)="clear()">Clear</button>
        <button type="button" mat-button color="accent" *ngIf="isCreating" [disabled]="!createForm.valid" (click)="addUser()">Add</button>
        <button type="button" mat-button color="accent" *ngIf="isEdit" [disabled]="!createForm.valid" (click)="editUser()">Save</button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="div-create" *ngIf="isRegister">
    <mat-card-header>
      <mat-card-title>Register Course Form</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="mat-content">
      <form [formGroup]="registerForm" (keydown.enter)="$event.preventDefault()">
        <mat-form-field class="primary-field">
          <mat-select formControlName="User" placeholder="User" [compareWith]="compareFn" [value]="User">
            <mat-option *ngFor="let User of listUsers" [value]="User">{{User.name}} - {{ User.email }}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <mat-select formControlName="course" placeholder="course" [compareWith]="compareFn" [value]="course">
            <mat-option *ngFor="let course of listCourses" [value]="course">{{course.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <mat-select formControlName="class" placeholder="class" [compareWith]="compareFn" [value]="class">
            <mat-option *ngFor="let class of listClasses" [value]="class">{{class.name}}
            </mat-option>
          </mat-select>
        </mat-form-field> <br>
        <mat-form-field class="primary-field">
          <input matInput formControlName="startTime" placeholder="start time" [value]="registerForm.controls.startTime.value">
        </mat-form-field>
        <mat-form-field class="primary-field">
          <input matInput formControlName="endTime" placeholder="end time" [value]="registerForm.controls.endTime.value">
        </mat-form-field>
      </form>
      <div class="channel-action">
        <button type="button" mat-button color="accent" (click)="cancel()">Cancel</button>
        <button type="button" mat-button color="accent" (click)="registerCourse()">Register</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>